{% extends "_layouts/base.html" %}

{% block title %}
Lista de productos | {{ super() }}
{% endblock %}


{% block content %}
<div class="container">
  <h1>Listado de productos</h1>
  <div class="jumbotron">
    <div class="row">
		{% paginate productos by 5 %}
			{% for producto in productos%}
			  <div class="col-md-3">
				<div class="thumbnail">
				  <a href={{producto.url}} class="">
					<img src={{producto.picture}} alt="imagen">
				  </a>
				  <div class="caption">
					<a href={{producto.url}} class="">
					  <h4>{{producto.nombre}}</h4>
					  <h4>{{producto.precio}}</h4>
					</a>
					<p>
					<a href="" class="btn btn-primary" role="button">Añadir a carrito</a>
					</p>
				  </div>
				</div>
			  </div>
			</div>
		  {% endfor %}
		{% endpaginate %}
  </div>
</div>
{% endblock %}
