{% extends "_layouts/base.html" %}

{% block title %}
Registro Login | {{ super() }}
{% endblock %}


{% block content %}
<div class="container">
				<div class="row">
					<!--inicio login-->
					<div class=" col-md-6">
						<div class="jumbotron">
							<h3 class="panel-heading"><strong>Login</strong></h3>
							<form name="login" method="POST" action="{{ url_for( 'login' ) }}">
								<div>
									<div class="form-group">
										<input class="form-control" id="userLogin_email" name="userLogin[email]" value="{{saves.get('userLogin[email]', ' ')}}" required="required" placeholder="Email" type="email">
									</div>
									<div class="form-group">
										<input class="form-control" id="userLogin_password" name="userLogin[password]" value="{{saves.get('userLogin[password]', ' ')}}" required="required" placeholder="Contraseña" type="password">
									</div>
								</div>
								<div class="row btn btn-block center-block">
									<div class="col-md-2 col-md-offset-3">
										<button id="userLogin_login" class="btn btn-primary" name="userLogin[login]" type="submit">Entrar</button>
									</div>
									<div class="col-md-2">
										<button  id="userLogin_restablecer" class="btn btn-primary" name="userLogin[restrablecer]" type="reset">Restablecer</button>
									</div>

								</div>
							</form>
						</div>
					</div>
					<!--fin login-->

					<!--inicio registro-->
					<div class="col-md-6 ">
						<div class="jumbotron">
							<h3 class="panel-heading"><strong>Registro</strong></h3>
							<form name="registro" method="POST" action="{{ url_for( 'registro' ) }}">
								<div>
									<div class="form-group">
										<input class="form-control" id="userRegistro_nombre" name="userLogin[nombre]" value="{{saves.get('userLogin[nombre]', '')}}" required="required" placeholder="Nombre" type="text">
									</div>
									<div class="form-group">
										<input class="form-control" id="userRegistro_apellidos" name="userLogin[apellidos]" value="{{saves.get('userLogin[apellidos]', '')}}" required="required" placeholder="Apellidos" type="text">
									</div>
									<div class="form-group">
										<input class="form-control" id="userRegistro_nacimiento" name="userLogin[nacimiento]" value="{{saves.get('userLogin[nacimiento]', '')}}" required="required" placeholder="Año Nacimiento" type="text">
									</div>
									<div class="form-group">
										<input class="form-control" id="userRegistro_direccion" name="userLogin[direccion]" value="{{saves.get('userLogin[direccion]', '')}}" required="required" placeholder="Direccion" type="text">
									</div>
									<div class="form-group">
										<input class="form-control" id="userRegistro_telefono" name="userLogin[telefono]" value="{{saves.get('userLogin[telefono]', '')}}" required="required" placeholder="Telefono" type="text">
									</div>
									<div class="form-group">
										<input class="form-control" id="userRegistro_email" name="userLogin[email]" value="{{saves.get('userLogin[email]', '')}}" required="required" placeholder="Email" type="email">
									</div>
									<div class="form-group">
										<input class="form-control" id="userRegistro_clave" name="userLogin[password]" value="{{saves.get('userLogin[password]', '')}}" required="required" placeholder="Contraseña" type="password">
									</div>
									<div class="form-group">
										<input class="form-control" id="userRegistro_repClave" name="userLogin[repClave]" value="{{saves.get('userLogin[repClave]', '')}}" required="required" placeholder="Repetir Contraseña" type="password">
									</div>
								</div>
								<div class="row btn btn-block center-block">
									<div class="col-md-3 col-md-offset-3">
										<button id="userRegistro_registro" class="btn btn-primary" name="userRegistro[registro]" type="submit" >Registrarse</button>
									</div>
									<div class="col-md-2">
										<button id="userRegistro_restablecer" class="btn btn-primary" name="userRegistro[restrablecer]" type="reset">Restablecer</button>
									</div>
								</div>
							</form>
						</div>
					</div>
</div>
{% endblock %}
